# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/guessinggame/nbproject/private/
/guessinggame/build/
/Tes4Zack/nbproject/private/
/accountdesign/nbproject/private/
/SortByBinaryOnes/nbproject/private/
/Binary/nbproject/private/
/Test3/nbproject/private/
/Project2/nbproject/private/
/Test8/nbproject/private/
/Test8/build/
/JpaProject/nbproject/private/
/JpaProject/build/
/JpaProject/dist/
/ForOnlineTest/nbproject/private/
/ForOnlineTest/build/
/Shapes/nbproject/private/
/makeNegative/nbproject/private/
/factorial/nbproject/private/
/factorial/build/
/Design/nbproject/private/
/Design/build/
/Intermidiate/nbproject/private/
/Recursion/nbproject/private/
/Recursion/build/
/TestCollection/nbproject/private/
/TestCollection/build/